.text, h2{
    text-align: center;
    font-weight: bold;
}

.boder-box{
    background-color: grey;
    margin: 2%;
    padding: 15px;
    border: 2px solid black !important;
}
.brand-color{
    color: black !important;
}


.color-nav{
    background-color: grey !important;
    border: 2px solid black;
}